In [5]:
import pandas as pd

df = pd.DataFrame({ 'column': ['val1', 'val2', 'val3', 'val1', 'val2'],
                    'value': [1,2,3,4,5]})

print(df)

  column  value
0   val1      1
1   val2      2
2   val3      3
3   val1      4
4   val2      5

In [6]:
df['column']

0    val1
1    val2
2    val3
3    val1
4    val2
Name: column, dtype: object

In [7]:
df['column'].str.upper()

0    VAL1
1    VAL2
2    VAL3
3    VAL1
4    VAL2
Name: column, dtype: object

In [8]:
df['value'].sum()

15

In [10]:
df.groupby('column').sum()

        value
column
val1        5
val2        7
val3        3

In [1]:
import pandas as pd

In [ ]:
df = pd.DataFrame()