In [3]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\Users\\dominic\\Spark'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder\
                    .appName('Analysisg London Crime Data')\
                    .getOrCreate()

In [8]:
data = spark.read\
            .format("csv")\
            .option("header","true")\
            .load("C:\\Users\\dominic\\Documents\\pythonLearning\\python\\spark\\inputdatasets\\london_crime_by_lsoa.csv")

In [10]:
data.printSchema()

root
 |-- lsoa_code: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- major_category: string (nullable = true)
 |-- minor_category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [11]:
data.count()

13490604

In [12]:
data.limit(5).show()

+---------+----------+--------------------+--------------------+-----+----+-----+
|lsoa_code|   borough|      major_category|      minor_category|value|year|month|
+---------+----------+--------------------+--------------------+-----+----+-----+
|E01001116|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|E01001646| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|E01000677|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|E01003774| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|E01004563|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+---------+----------+--------------------+--------------------+-----+----+-----+

In [13]:
#This will remove the rows with na value
data.dropna()

DataFrame[lsoa_code: string, borough: string, major_category: string, minor_category: string, value: string, year: string, month: string]

In [14]:
data = data.drop('lsoa_code')

In [15]:
data.printSchema()

root
 |-- borough: string (nullable = true)
 |-- major_category: string (nullable = true)
 |-- minor_category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [19]:
t_borough = data.select('borough')\
.distinct()

t_borough.show()

+--------------------+
|             borough|
+--------------------+
|             Croydon|
|          Wandsworth|
|              Bexley|
|             Lambeth|
|Barking and Dagenham|
|              Camden|
|           Greenwich|
|              Newham|
|       Tower Hamlets|
|            Hounslow|
|              Barnet|
|              Harrow|
|Kensington and Ch...|
|           Islington|
|               Brent|
|            Haringey|
|             Bromley|
|              Merton|
|         Westminster|
|             Hackney|
+--------------------+
only showing top 20 rows

In [20]:
t_borough.count()

33

In [21]:
merton_data = data.filter(data['borough'] == "Merton")
merton_data.show(5)

+-------+---------------+--------------------+-----+----+-----+
|borough| major_category|      minor_category|value|year|month|
+-------+---------------+--------------------+-----+----+-----+
| Merton|Criminal Damage|Criminal Damage T...|    0|2009|   10|
| Merton|          Drugs|    Drug Trafficking|    0|2013|    5|
| Merton|        Robbery|   Business Property|    0|2013|    3|
| Merton|       Burglary|Burglary in a Dwe...|    1|2009|    7|
| Merton|          Drugs| Possession Of Drugs|    2|2012|    3|
+-------+---------------+--------------------+-----+----+-----+
only showing top 5 rows

In [22]:
data_2014_2015 = data.filter(data['year'].isin(['2014','2015']))
data_2014_2015.sample(fraction=0.1).show()

+--------------------+--------------------+--------------------+-----+----+-----+
|             borough|      major_category|      minor_category|value|year|month|
+--------------------+--------------------+--------------------+-----+----+-----+
|Richmond upon Thames|             Robbery|   Personal Property|    0|2014|    1|
|            Havering|    Fraud or Forgery|  Counted per Victim|    0|2015|   11|
|            Hounslow|Violence Against ...|        Wounding/GBH|    2|2015|    8|
|             Bromley|             Robbery|   Personal Property|    0|2014|    6|
|Kensington and Ch...|             Robbery|   Personal Property|    1|2015|    7|
|           Southwark|  Theft and Handling|         Other Theft|    1|2014|   12|
|Barking and Dagenham|  Theft and Handling|Theft/Taking Of M...|    0|2014|    4|
|          Wandsworth|               Drugs| Possession Of Drugs|    0|2014|    9|
|              Ealing|Violence Against ...|      Common Assault|    1|2015|   12|
|             Enfield|  Theft and Handling|Motor Vehicle Int...|    1|2015|    7|
|             Hackney|Violence Against ...| Assault with Injury|    2|2015|    5|
|             Lambeth|               Drugs| Possession Of Drugs|    0|2014|    5|
|      Waltham Forest|  Theft and Handling|Handling Stolen G...|    0|2014|   10|
|              Camden|  Theft and Handling|    Theft From Shops|    1|2014|    5|
|           Southwark|Violence Against ...|        Wounding/GBH|    1|2015|    1|
|           Greenwich|Violence Against ...|      Common Assault|    1|2014|    9|
|              Camden|             Robbery|   Personal Property|    1|2015|   11|
|           Greenwich|  Theft and Handling|    Theft From Shops|    0|2014|    4|
|            Lewisham|    Fraud or Forgery|Other Fraud & For...|    0|2015|    6|
|              Newham|            Burglary|Burglary in Other...|    0|2014|   11|
+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

In [24]:
borough_per_crime = data.groupBy('borough')\
.count()

borough_per_crime.show()

+--------------------+------+
|             borough| count|
+--------------------+------+
|             Croydon|602100|
|          Wandsworth|498636|
|              Bexley|385668|
|             Lambeth|519048|
|Barking and Dagenham|311040|
|              Camden|378432|
|           Greenwich|421200|
|              Newham|471420|
|       Tower Hamlets|412128|
|            Hounslow|395928|
|              Barnet|572832|
|              Harrow|365688|
|Kensington and Ch...|296784|
|           Islington|359208|
|               Brent|490644|
|            Haringey|413856|
|             Bromley|523908|
|              Merton|339876|
|         Westminster|366660|
|             Hackney|417744|
+--------------------+------+
only showing top 20 rows

In [31]:
borough_per_crime_sum = data.groupBy('borough')\
.agg({"value":"sum"})\
.withColumnRenamed("sum(value)","convictions")


borough_per_crime_sum.show(5)

+--------------------+-----------+
|             borough|convictions|
+--------------------+-----------+
|             Croydon|   260294.0|
|          Wandsworth|   204741.0|
|              Bexley|   114136.0|
|             Lambeth|   292178.0|
|Barking and Dagenham|   149447.0|
+--------------------+-----------+
only showing top 5 rows

In [32]:
total_borough_per_crime = borough_per_crime_sum.agg({"convictions":"sum"})

total_borough_per_crime.show()

+----------------+
|sum(convictions)|
+----------------+
|       6447758.0|
+----------------+

In [34]:
total_boroughs_crime = total_borough_per_crime.collect()[0][0]

In [36]:
import pyspark.sql.functions as func